body{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.thumbnail-container{
	font-family: 'Cabin', sans-serif;
	display: block;
	width: 1920px;
	height: 1080px;
	position: absolute;
	overflow: hidden;
}
.thumbnail{
	width: 1920px;
	height: 1080px;
}
.background-image{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.renders{
	position: absolute;
	display: inline-flex;
	z-index: 2;
	
}
.player1-render{
	z-index: 2;

	
}
.player2-render{
	z-index: 2;
	position: relative;
	right: -1130px;
	transform: scaleX(-1);
}
.render img{
	position: relative;
	overflow: hidden;
	left: 175px;
	top: 355px;
	max-width: 800px;
	max-height: 900px;
	width: 120%;
	height: auto;
	object-fit: contain;
	z-index: 200;
	transform: scale(2);
}

.ui-button{
	width: 150px;
	height: 150px;
	position: absolute;
	z-index: 4;
	left: 885px;
}
.text{
	position: relative;
	text-transform: uppercase;
	display: block;
	text-align: center;
	z-index: 500;
	color: white;
}
.tournament-name{
	position:absolute;
	bottom:0;
	left:10px;
	font-size: 82px;
}
.tournament-date{
	position: absolute;
	right:10px;
	bottom:0;
	font-size: 82px;
}
.bracket-location{
	position: absolute;
	font-size: 72px;
	width: 530px;
	height: 60px;
	line-height: 60px;
	bottom: 105px;
	left: 695px;
}

.player1-tag{
	top: -15px;
	position: absolute;
	width: 800px;
	height: 150px;
	line-height: 150px;
	left: 75px;
	font-size: 96px;
}
.player2-tag{
	top: -15px;
	position: absolute;
	width: 800px;
	height: 150px;
	line-height: 150px;
	right: 75px;
	font-size: 96px;
}
.foreground-image{
	position: absolute;
	top: 0;
	left: 0;
	width: 1920px;
	height: 1080px;
	z-index: 3;
}